:root {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

body.dark-mode {
    /* Include a Lightbulb icon, thatd be cool */
    --bkgr-c: rgb(30, 30, 30);
    --bkgr-c-2: rgb(75, 75, 80);
    --bkgr-img: url('../images/mountainlake.jpg');
    --ptxt-c: white;
    --inpt-txt-c: rgb(82, 82, 82);
    --a-c: rgb(0, 70, 151);
    --a-c-visited: rgb(103, 0, 151);
}

body.light-mode {
    --bkgr-c: rgb(139, 205, 255);
    --bkgr-c-2: rgb(191, 191, 232);
    --bkgr-img: url('../images/mountainlake.jpg');
    --ptxt-c: rgb(0, 0, 0);
    --inpt-txt-c: rgb(240, 240, 255);
    --a-c: rgb(0, 70, 151);
    --a-c-visited: rgb(103, 0, 151);
}

h1 {
    font-family: 'Charm', serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.center {
    text-align: center;
    background-color: var(--bkgr-c);
    background-image: var(--bkgr-img);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--ptxt-c);
}