:root {
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
}

body.dark-mode {
    /* Include a Lightbulb icon, thatd be cool */
    --bkgr-c: rgb(30, 30, 30);
    --bkgr-c-2: rgb(75, 75, 80);
    --bkgr-img: url('../images/mountainlake.jpg');
    --ptxt-c: white;
    --inpt-txt-c: rgb(82, 82, 82);
    --a-c: rgb(0, 70, 151);
    --a-c-visited: rgb(103, 0, 151);
}

body.light-mode {
    --bkgr-c: rgb(139, 205, 255);
    --bkgr-c-2: rgb(191, 191, 232);
    --bkgr-img: url('../images/mountainlake.jpg');
    --ptxt-c: rgb(0, 0, 0);
    --inpt-txt-c: rgb(240, 240, 255);
    --a-c: rgb(0, 70, 151);
    --a-c-visited: rgb(103, 0, 151);
}

h1 {
    font-family: 'Charm', serif;
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.center {
    text-align: center;
    background-color: var(--bkgr-c);
    background-image: var(--bkgr-img);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--ptxt-c);
}

.navbar {
    overflow: hidden;
    background-color: var(--bkgr-c-2);
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}